* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0;
  height: 100svh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

h1 {
  font-size: 5rem;
  color: #181818;
  font-family: Oswald, sans-serif;
  text-shadow: 3px 0 #da0463;
  text-align: center;
}

img {
  width: 80%;
}
.set {
  margin: 0 auto;
  max-width: 500px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: solid #181818;
  border-width: 1px 5px 10px;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  font-weight: 900;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #e0e0e0;
  box-shadow: 3px 0 #da0463;
}

@media (max-width: 1000px) {
  .drum {
    width: 350px;
    height: 200px;
    text-align: center;
    margin: 10px 10px 10px 323px;
    display: block;
  }
}
